{% extends 'base.html.twig' %}

{% block title %}Awet Portfolio{% endblock %}

{% block body %}

    <div class="my-5">

        <div class="w-75 m-auto pt-5 d-flex">
            <h2 class="text-center unique">Welcome, I am Awet, junior <span class="text-light">PHP</span> web developer!</h2>
            <img class="img-fluid rounded-circle float-left w-50" src="{{ asset('images/my-photo.jpg') }}" alt="my photo">
        </div>

        <div class="align-baseline mt-5 p-5 bg-info m-5 rounded" id="about">
            <h2 class="h1-responsive font-weight-bold text-center text-light">About Me</h2>
            <p class="text-black text-center">I am junior developer recently graduated from <a class="text-light" href="https://becode.org/">BeCode.org</a> and then did my internship in
                <a class="text-light" href="https://www.8trust.com/">8Trust</a>. I love coding with PHP, I got in deep with PHP to Symfony, Laminas(Zend). I have build some projects that have APIs and interaction with database and third party services which can make me junior back end developer. So at the moment I am looking for a position to leverage my experience and continuously work on my growth and growth of my team.
            </p>
            <p class="font-weight-bolder p-3 text-center">For more info you can see the buttons below. Thank you!</p>
            <div class="links text-center">
                <a class="btn btn-outline-light fas fa-file-pdf m-3" href="{{ asset('doc/Awets Resume.pdf') }}"> Open Resume</a>
                <a class="btn btn-outline-light fas fa-download" href="{{ asset('doc/Awets Resume.pdf') }}" download="newfilename"> Download Resume</a>
            </div>
        </div>

        <section class="m-5 p-5 bg-dark rounded" id="contact">

            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center text-light">Contact Me</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5 text-light">If you are interested to know more about me? Please contact me directly. And I will be available
                to help you with your request.</p>

            <div class="row form-m-5">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="{{ path('email') }}" method="POST">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="text-light">Your name</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="text-light">Your email</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="text-light">Subject</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                    <label for="message" class="text-light">Your message</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                        <div class="text-center text-md-left">
                            <input type="submit" value="Send" class="btn btn-primary btn-block">
                        </div>

                    </form>

                    <div class="status"></div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x text-white-50"></i>
                            <p><a class="text-light" href="https://goo.gl/maps/ye7FiqBDbP1jXzhU6">Kortrijk 8500, Belgium</a></p>
                        </li>

                        <li><i class="fas fa-phone mt-4 fa-2x text-white-50"></i>
                            <p><a class="text-light" href="tel:8882192787">Call me at 888-219-2787</a></p>
                        </li>

                        <li><i class="fas fa-envelope mt-4 fa-2x text-white-50"></i>
                            <p><a class="text-light" href = "mailto:abc@example.com?subject = Feedback&body = Message">contact@mdbootstrap.com</a></p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>

        </section>


    </div>


{% endblock %}
