{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="w-50 m-auto pt-5">
        <h2 class="text-black-50">Hello, I am Awet, Junior PHP web developer!</h2>
        <img class="align-content-center img-thumbnail" src="{{ asset('images/no-bad-day.jpg') }}" alt="Thumbnail image">
    </div>
{% endblock %}
