@import "~bootstrap/scss/bootstrap";
body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.bg-home-page {
    width: 100%;
    height: 75vh;
}

.unique {
    font-size:5vw;
    color: gold;
    align-self: end;
    border: 1px solid gray;
    text-shadow: whitesmoke;
    font-family: Gayathri, serif;
}

.form-m-5 {
    margin: 0;
}

@media (min-width: 768px) {
    .form-m-5 {
        margin: 5em;
    }
    .unique {
        font-size:4vw;
    }
}
