@import "~bootstrap/scss/bootstrap";
body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.bg-home-page {
    width: 100%;
    height: 75vh;
}

.unique {
    font-size:4vw;
    color: gold;
    align-self: end;
    border: 1px solid gray;
    text-shadow: whitesmoke;
    font-family: Gayathri, serif;
}
